html, body {
    Margin: 0;
    height: 100%;
  }
  body {
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, blue, red, gold);
}
  }
    .github-logo {
      width: 230px;
      height: 230px;
      transition: transform 0.3s ease;
    }

    .github-logo:hover {
      transform: scale(1.2);
    }
